* {
  padding: 0;
  margin: 0; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  min-width: 300px; }

/*banner style*/
@-webkit-keyframes letter {
  0% {
    font-size: 50px; }
  25% {
    font-size: 70px; }
  50% {
    font-size: 30px; }
  100% {
    font-size: 50px; } }
@keyframes letter {
  0% {
    font-size: 50px; }
  25% {
    font-size: 70px; }
  50% {
    font-size: 30px; }
  100% {
    font-size: 50px; } }

@-webkit-keyframes i-letter {
  0% {
    font-size: 50px; }
  25% {
    font-size: 80px; }
  50% {
    font-size: 20px; }
  100% {
    font-size: 50px; } }

@keyframes i-letter {
  0% {
    font-size: 50px; }
  25% {
    font-size: 80px; }
  50% {
    font-size: 20px; }
  100% {
    font-size: 50px; } }

@-webkit-keyframes up-n-down {
  from {
    bottom: 20px; }
  to {
    bottom: 35px; } }

@keyframes up-n-down {
  from {
    bottom: 20px; }
  to {
    bottom: 35px; } }

.banner {
  min-width: 100vw;
  min-height: 100vh; }
  .banner .name {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-family: "Neucha", cursive;
    padding-top: 40vh;
    position: relative;
    -webkit-transition: 3s;
    -o-transition: 3s;
    transition: 3s; }
  .banner span.letter {
    display: inline-block;
    position: absolute; }
  .banner span.i-letter {
    left: -webkit-calc(50vw - 150px);
    left: calc(50vw - 150px);
    -webkit-animation: letter 3s;
            animation: letter 3s; }
  .banner span.n-letter {
    left: -webkit-calc(50vw - 125px);
    left: calc(50vw - 125px);
    -webkit-animation: i-letter 3s;
            animation: i-letter 3s; }
  .banner span.f-letter {
    left: -webkit-calc(50vw - 100px);
    left: calc(50vw - 100px);
    -webkit-animation: letter 3s;
            animation: letter 3s; }
  .banner span.o-letter {
    left: -webkit-calc(50vw - 65px);
    left: calc(50vw - 65px);
    -webkit-animation: i-letter 3s;
            animation: i-letter 3s; }
  .banner span.g-letter {
    left: -webkit-calc(50vw - 40px);
    left: calc(50vw - 40px);
    -webkit-animation: letter 3s;
            animation: letter 3s; }
  .banner span.r-letter {
    left: -webkit-calc(50vw - 15px);
    left: calc(50vw - 15px);
    -webkit-animation: i-letter 3s;
            animation: i-letter 3s; }
  .banner span.a-letter {
    left: -webkit-calc(50vw + 10px);
    left: calc(50vw + 10px);
    -webkit-animation: letter 3s;
            animation: letter 3s; }
  .banner span.f-letter2 {
    left: -webkit-calc(50vw + 35px);
    left: calc(50vw + 35px);
    -webkit-animation: i-letter 3s;
            animation: i-letter 3s; }
  .banner span.i-letter2 {
    left: -webkit-calc(50vw + 70px);
    left: calc(50vw + 70px);
    -webkit-animation: letter 3s;
            animation: letter 3s; }
  .banner span.k-letter {
    left: -webkit-calc(50vw + 95px);
    left: calc(50vw + 95px);
    -webkit-animation: i-letter 3s;
            animation: i-letter 3s; }
  .banner span.a-letter2 {
    left: -webkit-calc(50vw + 120px);
    left: calc(50vw + 120px);
    -webkit-animation: letter 3s;
            animation: letter 3s; }
  .banner .scroll {
    display: none;
    width: 60px;
    height: 77px;
    background: url("../img/scroll-arrow.png") no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    position: absolute;
    bottom: 20px;
    left: -webkit-calc(50vw - 30px);
    left: calc(50vw - 30px);
    -webkit-animation: up-n-down 0.8s infinite alternate;
            animation: up-n-down 0.8s infinite alternate; }

/*end banner style*/
@-webkit-keyframes left-to-right {
  from {
    width: 0px; }
  to {
    width: 55px; } }
@keyframes left-to-right {
  from {
    width: 0px; }
  to {
    width: 55px; } }

@-webkit-keyframes fade-out {
  from {
    width: 200vh;
    height: 50vh; }
  to {
    width: 100vw;
    height: 50vh; } }

@keyframes fade-out {
  from {
    width: 200vh;
    height: 50vh; }
  to {
    width: 100vw;
    height: 50vh; } }

div.main-screen {
  height: 100vh; }

/*header and navigation style*/
header {
  position: relative; }
  header button.location {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 30px;
    background: url("../img/location.png") no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    border: none;
    outline: none;
    cursor: pointer; }
    @media (max-width: 777px) {
      header button.location {
        top: 10px;
        left: 20px; } }
  header button.contacts {
    width: 37px;
    height: 30px;
    position: absolute;
    top: 25px;
    right: 30px;
    background: url("../img/contacts.png") no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    border: none;
    outline: none;
    cursor: pointer; }
    @media (max-width: 777px) {
      header button.contacts {
        visibility: hidden; } }
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    padding-top: 20vh;
    padding-left: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: none;
    z-index: 1; }
    header nav button.close {
      position: absolute;
      top: 20px;
      left: 30px;
      width: 30px;
      height: 30px;
      background: url("../img/cross.png") no-repeat;
      -webkit-background-size: cover;
              background-size: cover;
      border: none;
      outline: none;
      cursor: pointer; }
    header nav a {
      display: inline-block;
      position: relative;
      text-decoration: none;
      color: #fff;
      font-family: "Neucha", cursive;
      font-size: 24px;
      margin-top: 20px; }
    header nav a.country::after {
      display: block;
      content: "";
      width: 50px;
      height: 38px;
      position: absolute;
      top: -13px;
      right: -55px;
      background: url("../img/sprite-flags.png") no-repeat;
      opacity: 0;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
    header nav a.country:hover::after {
      opacity: 1; }
    header nav a.south-korea::after {
      background-position: -10px -63px; }
    header nav a.norway::after {
      background-position: -10px -118px; }
    header nav a.finland::after {
      background-position: -10px -7px; }
    header nav a.russia::after {
      background-position: -10px -174px; }
  header .title h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: "Neucha", cursive;
    font-size: 30px;
    letter-spacing: 10px;
    padding-top: 30px; }
    @media (max-width: 777px) {
      header .title h1 {
        letter-spacing: 0px;
        padding-top: 20px; } }
  header .title p.hidden-tittle {
    position: absolute;
    left: -webkit-calc(50vw + 137px);
    left: calc(50vw + 137px);
    top: 23px;
    padding: 2px 5px 5px 5px;
    background: #1d7ada;
    color: white;
    text-transform: lowercase;
    width: 55px;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 16px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    z-index: 0;
    -webkit-animation: left-to-right linear 0.5s;
            animation: left-to-right linear 0.5s; }
    @media (max-width: 777px) {
      header .title p.hidden-tittle {
        top: 10px;
        left: -webkit-calc(50vw + 90px);
        left: calc(50vw + 90px); } }
  header div.email {
    position: fixed;
    right: 0;
    top: 0;
    width: 280px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    padding-top: 40vh;
    padding-left: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 1;
    display: none; }
    header div.email button.close {
      position: absolute;
      top: 20px;
      right: 30px;
      width: 30px;
      height: 30px;
      background: url("../img/cross.png") no-repeat;
      -webkit-background-size: cover;
              background-size: cover;
      border: none;
      outline: none;
      cursor: pointer; }
    header div.email a {
      text-decoration: none;
      color: #fff;
      font-family: "Neucha", cursive;
      font-size: 24px;
      cursor: pointer; }
    header div.email a:hover {
      text-decoration: underline; }

/*end header and navigation style*/
/*main-content style*/
main .background-img {
  width: 100vw;
  height: 50vh;
  margin-top: 20px;
  background: url("../img/main-screen-banner.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-animation: fade-out linear 1.5s;
          animation: fade-out linear 1.5s; }
  @media (max-width: 777px) {
    main .background-img {
      margin-top: 20px; } }

main .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 50px; }
  @media (min-width: 1000px) {
    main .content {
      margin-left: 15%;
      margin-right: 15%; } }
  @media (max-width: 777px) {
    main .content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 20px; } }
  main .content div.information {
    margin-top: 20px;
    width: 60%; }
    @media (max-width: 777px) {
      main .content div.information {
        width: 100%; } }
    main .content div.information p {
      text-align: justify;
      line-height: 25px; }
    main .content div.information img {
      width: 25px;
      height: 25px;
      margin: 0 10px;
      vertical-align: bottom; }
    main .content div.information ul {
      -webkit-column-count: 3;
         -moz-column-count: 3;
              column-count: 3;
      -webkit-column-gap: 50px;
         -moz-column-gap: 50px;
              column-gap: 50px;
      list-style: square;
      margin-top: 20px;
      margin-left: 20px; }
      main .content div.information ul li {
        color: #1d7ada; }
        main .content div.information ul li span {
          color: #000; }
  main .content div.services {
    width: 270px;
    height: 180px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media (max-width: 777px) {
      main .content div.services {
        width: 100%;
        height: auto; } }
    main .content div.services a {
      width: 70px;
      height: 70px;
      margin-left: 20px;
      margin-top: 20px; }
      main .content div.services a img {
        width: 100%; }

/*end main-content style*/
/*footer style*/
footer {
  border-top: 1px solid grey;
  padding: 10px;
  text-align: center; }
  @media (max-width: 777px) {
    footer {
      padding-bottom: 30px; } }
  footer a {
    text-decoration: none;
    color: #000;
    font-family: "Neucha", cursive;
    cursor: pointer; }
  footer a:hover {
    text-decoration: underline; }

/*end footer style*/
/*404 error style*/
div.error {
  width: 100vw;
  height: 100vh;
  background: -webkit-radial-gradient(circle, #f4f9fa, #cae3e4);
  background: -o-radial-gradient(circle, #f4f9fa, #cae3e4);
  background: radial-gradient(circle, #f4f9fa, #cae3e4);
  text-align: center; }
  div.error h1 {
    font-size: 35vh; }
  div.error h2 {
    font-size: 8vh; }

/*end 404 error style*/
