* {
  padding: 0;
  margin: 0; }

body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

nav {
  position: absolute;
  width: 300px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  padding-top: 20vh;
  padding-left: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none; }
  nav button.close {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 30px;
    height: 30px;
    background: url("../img/cross.png") no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    border: none;
    outline: none;
    cursor: pointer; }
  nav a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fff;
    font-family: "Neucha", cursive;
    font-size: 24px;
    margin-top: 20px; }
  nav a::after {
    display: block;
    content: "";
    width: 50px;
    height: 38px;
    position: absolute;
    top: -13px;
    right: -55px;
    background: url("../img/sprite-flags.png") no-repeat;
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
  nav a:hover::after {
    opacity: 1; }
  nav a.south-korea::after {
    background-position: -10px -63px; }
  nav a.norway::after {
    background-position: -10px -118px; }
  nav a.finland::after {
    background-position: -10px -7px; }
  nav a.russia::after {
    background-position: -10px -174px; }

div.email {
  position: absolute;
  width: 300px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  padding-top: 40vh;
  padding-left: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  display: none;
  right: 0; }
  div.email button.close-contacts {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 30px;
    height: 30px;
    background: url("../img/cross.png") no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    border: none;
    outline: none;
    cursor: pointer; }
  div.email a {
    text-decoration: none;
    color: #fff;
    font-family: "Neucha", cursive;
    font-size: 24px;
    cursor: pointer; }
  div.email a:hover {
    text-decoration: underline; }

@-webkit-keyframes i-letter {
  0% {
    font-size: 50px; }
  25% {
    font-size: 70px; }
  50% {
    font-size: 30px; }
  100% {
    font-size: 50px; } }

@keyframes i-letter {
  0% {
    font-size: 50px; }
  25% {
    font-size: 70px; }
  50% {
    font-size: 30px; }
  100% {
    font-size: 50px; } }

div.main-screen {
  height: 100vh;
  position: relative; }
  div.main-screen p.main-hidden-tittle {
    position: absolute;
    left: -webkit-calc(50vw + 140px);
    left: calc(50vw + 140px);
    top: 24px;
    padding: 2px 5px 5px 5px;
    background: #1d7ada;
    color: white;
    text-transform: lowercase;
    font-size: 16px;
    letter-spacing: 2px;
    width: 68px;
    height: 16px;
    line-height: 16px;
    display: none;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    z-index: 0; }
  div.main-screen button.location {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 30px;
    background: url("../img/location.png") no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    border: none;
    outline: none;
    display: none;
    cursor: pointer; }
  div.main-screen button.contacts {
    width: 37px;
    height: 30px;
    position: absolute;
    top: 25px;
    right: 30px;
    background: url("../img/contacts.png") no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    border: none;
    outline: none;
    display: none;
    cursor: pointer; }
  div.main-screen div.main-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-family: "Neucha", cursive;
    padding-top: 40vh;
    position: relative;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
  div.main-screen span.letter {
    display: inline-block;
    position: absolute; }
  div.main-screen span.i-letter {
    left: -webkit-calc(50vw - 150px);
    left: calc(50vw - 150px);
    -webkit-animation: i-letter 3s;
            animation: i-letter 3s; }
  div.main-screen span.n-letter {
    left: -webkit-calc(50vw - 125px);
    left: calc(50vw - 125px);
    -webkit-animation: i-letter 3s;
            animation: i-letter 3s; }
  div.main-screen span.f-letter {
    left: -webkit-calc(50vw - 100px);
    left: calc(50vw - 100px);
    -webkit-animation: i-letter 3s;
            animation: i-letter 3s; }
  div.main-screen span.o-letter {
    left: -webkit-calc(50vw - 65px);
    left: calc(50vw - 65px);
    -webkit-animation: i-letter 3s;
            animation: i-letter 3s; }
  div.main-screen span.g-letter {
    left: -webkit-calc(50vw - 40px);
    left: calc(50vw - 40px);
    -webkit-animation: i-letter 3s;
            animation: i-letter 3s; }
  div.main-screen span.r-letter {
    left: -webkit-calc(50vw - 15px);
    left: calc(50vw - 15px);
    -webkit-animation: i-letter 3s;
            animation: i-letter 3s; }
  div.main-screen span.a-letter {
    left: -webkit-calc(50vw + 10px);
    left: calc(50vw + 10px);
    -webkit-animation: i-letter 3s;
            animation: i-letter 3s; }
  div.main-screen span.f-letter2 {
    left: -webkit-calc(50vw + 35px);
    left: calc(50vw + 35px);
    -webkit-animation: i-letter 3s;
            animation: i-letter 3s; }
  div.main-screen span.i-letter2 {
    left: -webkit-calc(50vw + 70px);
    left: calc(50vw + 70px);
    -webkit-animation: i-letter 3s;
            animation: i-letter 3s; }
  div.main-screen span.k-letter {
    left: -webkit-calc(50vw + 95px);
    left: calc(50vw + 95px);
    -webkit-animation: i-letter 3s;
            animation: i-letter 3s; }
  div.main-screen span.a-letter2 {
    left: -webkit-calc(50vw + 120px);
    left: calc(50vw + 120px);
    -webkit-animation: i-letter 3s;
            animation: i-letter 3s; }

div.main-screen-banner {
  width: 100vw;
  height: 50vh;
  margin-top: 50px;
  background: url("../img/main-screen-banner.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  display: none; }

div.main-screen-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 50px;
  visibility: hidden; }
  div.main-screen-content div.information {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0;
        -ms-flex: 1 0;
            flex: 1 0; }
    div.main-screen-content div.information p {
      text-align: justify;
      line-height: 25px; }
    div.main-screen-content div.information img {
      width: 25px;
      height: 25px;
      margin: 0 10px;
      vertical-align: bottom; }
    div.main-screen-content div.information ul {
      -webkit-column-count: 3;
         -moz-column-count: 3;
              column-count: 3;
      -webkit-column-gap: 50px;
         -moz-column-gap: 50px;
              column-gap: 50px;
      list-style: square;
      margin-top: 20px;
      margin-left: 20px; }
      div.main-screen-content div.information ul li {
        color: #1d7ada; }
        div.main-screen-content div.information ul li span {
          color: #000; }
  div.main-screen-content div.services {
    width: 270px;
    height: 180px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    div.main-screen-content div.services a {
      width: 70px;
      height: 70px;
      margin-left: 20px;
      margin-top: 20px; }
      div.main-screen-content div.services a img {
        width: 100%; }

@-webkit-keyframes up-n-down {
  from {
    bottom: 20px; }
  to {
    bottom: 35px; } }

@keyframes up-n-down {
  from {
    bottom: 20px; }
  to {
    bottom: 35px; } }

div.main-screen-scroll {
  display: none;
  width: 60px;
  height: 77px;
  background: url("../img/scroll-arrow.png") no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  position: absolute;
  bottom: 20px;
  left: -webkit-calc(50vw - 30px);
  left: calc(50vw - 30px);
  -webkit-animation: up-n-down 0.8s infinite alternate;
          animation: up-n-down 0.8s infinite alternate; }
