$tittle-font: "Neucha", cursive;
$main-font: 'Open Sans', sans-serif;
$dark: #767676;
$light: #d9d9d9;
$white: #ffffff;
$country-font: 'Yanone Kaffeesatz', sans-serif;

@mixin mobile-layout
	@media (max-width: 777px){@content;}
@mixin large-screen-layout
	@media (min-width: 1000px){@content;}

*
	padding: 0;
	margin: 0;

nav
	a.home-link
		position: absolute;
		left: 50px;
		bottom: 30px;
	a.home-link:hover
		text-decoration: underline;



.wrapper
	background: radial-gradient(circle, #f4f9fa, #cae3e4);

@keyframes fadeIn
	from 
		opacity: 0;
	to
		opacity: 1;


p.tittle-country-page
	position: absolute;
	left: calc(50vw + 137px);
	top: 23px;
	padding: 2px 5px 5px 5px;
	background: #1d7ada;
	color: white;
	text-transform: lowercase;
	width: 55px;
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 16px;
	border-radius: 2px;
	z-index: 0;
	animation: left-to-right linear 0.5s;
	@include mobile-layout
		top: 10px;
		left: calc(50vw + 90px);

main.country
	height: calc(100vh - 113px);
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	font-family: $country-font;
	animation: fadeIn 3.5s;
	@include large-screen-layout
		width: 1000px;
		margin: 0 auto;
		margin-top: 10px;
		margin-bottom: 0px;
	@include mobile-layout
		height: auto;
		max-width: 500px;
		margin: 0 auto;
		margin-top: 10px;
		flex-direction: column;
		align-items: center;
main.country>div
	width: 31%;
	@include mobile-layout
		width: 100%;
main div.flag-and-map
	width: 220px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	@include mobile-layout
		opacity: 0.1;
		position: fixed;
		padding-top: 50px;
	img.flag
		width: 100%;
		margin-bottom: 50px;
		border: 1px solid #605F60;
		&:hover
			box-shadow: 0 0 10px rgba(0,0,0,0.5);
			cursor: pointer;
		@include mobile-layout
			width: 220px;
			border: none;
	img.map
		width:  100%;
		@include mobile-layout
			width: 220px;

.country-name
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	@include mobile-layout
		margin-bottom: 20px;

span.number-flag
	position: relative;
	float: left;
	margin-right: 10px;
	width: 0; height: 0; 
	border-width: 37px 15px 18px;
	border-style: solid;
	border-color: #009dd1 #009dd1 transparent;
span.number-flag::after
	display: block;
	content: "1";
	position: absolute;
	top: -36px;
	left: -6px;
	color: #fff;
	font-size: 30px;

h2
	text-transform: uppercase;
	font-size: 50px;
	line-height: 35px;
	color: #605F60;
h3
	color: #605F60;
	font-size: 25px;
	font-weight: 400;
	line-height: 20px;

	
.population
	margin: 20px 0;
	p
		color: #009dd1;
		font-size: 30px;
	img
		margin-top: 10px;
		width: 100%;
	
.religion
	p
		color: #009dd1;
		font-size: 20px;
	h3
		margin-bottom: 10px;
	span.number-flag::after
		content: "2";
	.chart
		background: url('../img/chart-bg.png');
		margin-top: 10px;
		font-size: 20px;
		.religion-type
			display: block;
			margin-bottom: 5px;
			padding: 3px;
		.religion-type:first-child
			width: 46%;
			background: linear-gradient(45deg, #39b5e3, #009dd1);
		.religion-type:nth-child(3)
			width: 24%;
			background: linear-gradient(45deg, #ffa240, #ff833a);
		.religion-type:nth-child(5)
			width: 18%;
			background: linear-gradient(45deg, #f56883, #e04156);
		.religion-type:nth-child(7)
			width: 10%;
			background: linear-gradient(45deg, #2ee2ac, #00c888);
		.religion-type:nth-child(9)
			width: 2%;
			background: linear-gradient(45deg, #39b5e3, #009dd1);
		.percentage
			margin-top: -30px;
			float: right;
			width: 30px;
	span.religion-type:hover
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		cursor: pointer;

		

.infographics
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	color: #ffffff;
	h4
		padding-left: 60px;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 400;
		letter-spacing: 1px;
	p
		padding-left: 60px;
		font-size: 26px;
		font-weight: 300;
	div
		padding: 10px 0px;
		position: relative;
		&:hover
			box-shadow: 0 0 10px rgba(0,0,0,0.5);
			cursor: pointer;
		@include mobile-layout
			margin-bottom: 20px;

span.number
	display: block;
	width: 50px;
	height: 100%;
	background: rgba(0,0,0,0.2);
	font-size: 36px;
	position: absolute;
	top: 0px;
	left: 0px;
	span
		position: absolute;
		top: calc(50% - 27px);
		left: 18px;

.capital
	background: linear-gradient(45deg, #39b5e3, #009dd1);

.currency
	background: linear-gradient(45deg, #ffa240, #ff833a);

.language
	background: linear-gradient(45deg, #f56883, #e04156);

.landmark
	background: linear-gradient(45deg, #2ee2ac, #00c888);























